@import url('https://fonts.googleapis.com/css2?family=Poppins&family=Staatliches&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

body{
    background-color: #E5E5E5;
}

body::before{
    content: '';
    background-color: #535971;
    width: 100%;
    top: 0;
    left: 0;
    height: 436px;
    position: absolute;
    z-index: -1;
}

#container{
    width: 750px;
    margin: auto;
}

header{
    width: 417px;
    margin-top: 140px;
}

header h1{
    font-family: 'Staatliches', cursive;
    color: #fff;
    font-size: 48px;
    line-height: 60px;
    font-weight: 400;
}

header p{
    font-size: 20px;
    line-height: 30px;
    color: #fff;
    margin-top: 18px;
}

form{
    width: 750px;
    height: auto;
    background-color: #fff;
    padding: 64px;
    margin-top: 58px;
    border-radius: 20px 20px 0 0;
}

fieldset{
    border: none;
    margin-bottom: 30px;
}

fieldset legend{
    text-transform: uppercase;
    font-family: 'Staatliches', cursive;
    color: #535971;
    font-weight: 400;
    font-size: 24px;
    line-height: 34px;
    padding-bottom: 16px;
    border-bottom: 1px solid #E6E6F0;
}

.fieldset-wrapper p{
    text-transform: uppercase;
    font-family: 'Staatliches', cursive;
    color: #535971;
    font-size: 20px;
    line-height: 34px;
    margin-top: 32px;
}

.col-2{
    display: flex;
    gap: 22px;
}

.input-wrapper{
    margin-top: 36px;
    display: flex;
    flex-direction: column;
}

.input-wrapper label{
    color: #4E4958;
    font-weight: 400;
    font-size: 14px;
    line-height: 24px;
}

.col-2 .input-wrapper input{
    width: 300px;
    height: 56px;
    border-radius: 8px;
    border: 1px solid #E6E6F0;
    background: #FAFAFC;
    margin-top: 8px;
}

.input-wrapper span{
    font-size: 12px;
    line-height: 20px; 
    color: #C1BCCC;
    margin-left: 12px; 
}

.input-wrapper input{
    width: 100%;
    height: 56px;
    border-radius: 8px;
    border: 1px solid #E6E6F0;
    background: #FAFAFC;
    margin-top: 8px;
    font-family: 'Poppins', sans-serif;
    padding: 0 24px;
    font-size: 16px;
    line-height: 26px;
}

.col-3{
    display: flex;
    gap: 22px;
}

.col-3 > div:nth-child(1){
    width: 50%;
}

.col-3 >div:nth-child( n + 2){
    width: 25%;
}

footer{
    height: 160px;
    background: #535971;
    border-radius: 0px 0px 20px 20px;
    display: flex;
    flex-direction: column;
}

footer input{
    background: #FF5374;
    height: 55px;
    width: 608px;
    border: none;
    font-family: 'Staatliches', cursive;
    color: #fff;
    border-radius: 20px;
    display: flex;
    margin: auto;
    justify-content: center;
    font-size: 20px;
    line-height: 26px;
}

footer input:hover{
    cursor: pointer;
    background: #a53a4f;
}

input:invalid{
    border: 2px solid red;
}